<!DOCTYPE html>
<html>
<head>
  <title>PageEditor</title>
  <%= stylesheet_link_tag    "page_editor/application" %>
  <%= javascript_include_tag "page_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
